@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

.upper-navbar {
    display:flex;
    flex-direction: row;;
    justify-content: space-between;
    height: 56px;
    background-color: #0f0f0f;
    padding: 10px;
    gap: 20px;
}


.flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 2px;
    cursor: pointer;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 20px;
}
.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

/**/

#burger-icon {
    width: 32px;
    height: 32px;
    margin-left: 9px;
}

#burger-icon {
    height: 5.9vh;
}


.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search {
    background-color: #1c1c1c;
    border-radius: 50px;
    border: rgb(47, 47, 47) solid 2px;
    width: 500px;
    height: 40px;
    padding: 12px;
    font-size: 14px;
    color: aliceblue;
}

#search-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.mic-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border-radius: 90px;
    border: rgb(47, 47, 47);
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#button1 {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border: rgb(47, 47, 47);
    color: antiquewhite;
    border-radius: 50px;
    height: 36px;
    width: 89px;
    padding: 5px;
    font-size: 14px;
    gap: 8px;
    cursor: pointer;
}




#notification-logo {
    padding: 2px;
}

/*Pseudoclases,Navbar */

#burger-icon:hover {
    background-color: #717171a0;
    border-radius:50px;
}

.mic-button:hover {
    background-color: #717171a0;
}

#button1:hover {
    background-color: #717171a0;
}

.notification:hover {
    background-color: #717171a0;
    border-radius: 50px;

}


/* *Main Content* */

.main {
    display: grid;
    grid-template-columns:60px 1fr; 
}

.main-container {
    display: grid;
    grid-template-rows: 60px 1fr;
}



 /* navegacion inferior,temas */

.themes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 56px;
}

.themes-list {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    gap: 14px;
    list-style-type: none;
    font-size: 13px;
    padding: 10px;
}

.theme-style {
    background-color: #3A3A3A;
    border-radius: 8px;
    padding: 8px;
}


/* aside small/pequeno */


.small-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
    gap: 15px;
    color: white;
    font-size: 10px;
}

/*Pseudoclases, Small Aside */

.home:hover {
    background-color: #717171a0;
    border-radius:50px;
}
 
/* general changes,Videos */

.videos {
    margin: 8px;
}

.videos-section {    /*contener base de todos los videos */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    place-content: center;
    place-items: center;
    gap: 14px;
    margin-right: 29px;
}

/* Video1 General Changes (maduro) v-1 */

.video-container {
    display: grid;
    grid-template-columns: 450px;
    padding-left: 12px;
    cursor: pointer;
}
 
/* general changes,Videos */

.videos {
    margin: 8px;
}

#v-1 {                     /*V-1 = video 1 */
    height: 45.7vh;
}

.titular-channel-1 {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 8px
}

/* selecciones especificas video1 (v-1) */



#image1 {
    width: 450px;
    height: 240px;
}


.channel-logo-1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start ;
}

#video1-logo {
    width: 36px;
    height: 36px;

}

.video-title-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    color: #F1F1F1;
    font-size: 16px;
}

.viewers-name-1 {
    display: flex;
    display: grid;
    grid-template-columns: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: #AAAA;
    width: 28.3vw;
    font-size: 14px;
    gap: 4px;
}


/** Video2-General Changes **/

.thumbnail-2 {
    width: 450px;
    height: 240px;
}

.titular-channel-2 {
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 8px;
    padding: 9px;
}

/* Video2 Specific Changes */

#image2 {
    width: 450px;
    height: 239px;
}

#channel2-logo {
    width: 36px;
    height: 36px;
}

.video-title-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    font-size: 16px;
    color: #F1F1F1;
    gap: 7px;
     /* p{
        width: 348px;
        height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } */
}

.viewers-name-2 {
    display: flex;
    display: grid;
    grid-template-columns: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: #AAAA;
    gap: 4px;
    font-size: 14px;
    width: 29.8vw;
}

 /* V-3 general changes */

.titular-channel-3 {
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 8px;
    padding: 9px;
}
/*video 3 cambios especificos. */
 
 #image3 {
    width: 450px;
    height: 240px;
 }

 #video3-logo {
    width: 36px;
    height: 36px;
 }

.video-title-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    color: #F1F1F1;
    font-size: 16px;
}

.viewers-name-3 {
    display: flex;
    display: grid;
    grid-template-columns: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: #AAAA;
    gap: 4px;
    font-size: 14px;
}

/* V-4 General Options */

.titular-channel-4 {
    display:flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    gap: 8px;
    padding: 6px;
}

/* V-4 selectores especificos */

#image4 {
    width: 450px;
    height: 240px;
}

#video4-logo {
    width: 36px;
    height: 36px;
}

.video-title-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    color: #F1F1F1;
    font-size: 16px;
    gap: 12px;
    width: 23.5vw;
}

#option-v4 {
    width: 30px;
    height: 30px;
}

.viewers-name-4 {
    display: flex;
    display: grid;
    grid-template-columns: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: #AAAA;
    gap: 4px;
    font-size: 14px;
}

/* V-5 general changes */

.titular-channel-5 {
    display:flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    gap: 8px;
    padding: 6px;
}

/* V-5 Cambios Especificos */

#image5 {
    width: 450px;
    height: 240px;
}

#video5-logo {
    width: 36px;
    height: 36px;
}

.video-title-5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    color: #F1F1F1;
    font-size: 16px;
    gap: 12px;
    width: 23.5vw;
}

#option-v5 {
    width: 30px;
    height: 30px;
}

.viewers-name-5 {
    display: flex;
    display: grid;
    grid-template-columns: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: #AAAA;
    gap: 4px;
    font-size: 14px;
}

/* V-6 Cambios Generales */

.titular-channel-6 {
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 8px;
    padding: 6px;
}

/* V-6 Selectores Especificos */

#image6 {
    width: 450px;
    height: 240px;
}

#video6-logo {
    width: 36px;
    height: 36px;
}

.video-title-6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    color: #F1F1F1;
    font-size: 16px;
    gap: 12px;
}

#option-v6 {
    width: 30px;
    height: 30px;
}

.viewers-name-6 {
    display: flex;
    display: grid;
    grid-template-columns: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: #AAAA;
    gap: 4px;
    font-size: 14px;
}

/* V-7 Cambios Generales */

.titular-channel-7 {
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 8px;
    padding: 6px;
}

/* V-7 selectores especificos */

#image7 {
    width: 450px;
    height: 240px;
}

#video7-logo {
    width: 36px;
    height: 36px;
}

.video-title-7 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    color: #F1F1F1;
    font-size: 16px;
    gap: 12px;
}

#option-v7 {
    width: 30px;
    height: 30px;
}

.viewers-name-7 {
    display: flex;
    display: grid;
    grid-template-columns: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: #AAAA;
    gap: 4px;
    font-size: 14px;
}

/* V-8 Cambios Generales */

.titular-channel-8 {
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 8px;
    padding: 6px;
}

/* V-8 selectores especificos */

#image8 {
    width: 450px;
    height: 240px;
}

#video8-logo {
    width: 36px;
    height: 36px;
}

.video-title-8 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    color: #F1F1F1;
    font-size: 16px;
    gap: 12px;
}

#option-v8 {
    width: 30px;
    height: 30px;
}

.viewers-name-8 {
    display: flex;
    display: grid;
    grid-template-columns: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: #AAAA;
    gap: 4px;
    font-size: 14px;
}

/* V-9 Cambios Generales */

.titular-channel-9 {
    display:flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 8px;
    padding: 6px;
}

/* V-9 selectores especificos */

#image9 {
    width: 450px;
    height: 240px;
}

#video9-logo {
    width: 36px;
    height: 36px;
}

.video-title-9 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    color: #F1F1F1;
    font-size: 16px;
    gap: 12px;
}

#option-v9 {
    width: 30px;
    height: 30px;
}

.viewers-name-9 {
    display: flex;
    display: grid;
    grid-template-columns: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    color: #AAAA;
    gap: 4px;
    font-size: 14px;
}
